<!DOCTYPE html>
<html lang="en">
{% extends "bootstrap/base.html" %}

{% block title %}
YOUR WEB PAGE TITLE GOES HERE

{% endblock %}


{% block scripts %}
{{ super() }}

{{ moment.include_moment() }}

{% endblock %}


{% block content %}

    <div class="jumbotron text-center" style = "background-image: linear-gradient(skyblue, white)">


     <div class="container text-left">
         <div class ="row"  >
         <div class="col-md-12" style="font-size: 30px">Welcome {{ session['user-info']['firstname']}} </div>
       <div class="col-md-6 text-right">

<p>Login time: {{ moment(session['user-info']['loginTime']).format('h.mm A') }} </p>


        </div>
         </div>
     </div>
        <div class="container">
     <strong style="color: purple"> {{session['user-info']['lastname']|capitalize }}'s Diary</strong>
        </div>
        <div class="container text-right">
        <strong>
   <button> <a href = '/logout'>Not {{session['user-info']['email']}} ?</a> </button>
</strong>

    </div>
</div>



        <div class="container" >

   <form method="post">
       <textarea name ="content" row="3" class="form-control" style="resize: none;margin-bottom: 1em;"></textarea>
       <input type="submit" value ="Save" class="btn btn-success" style="margin-bottom: 1em;">

   </form>
</div>


 <div class="container" >
{% for e in entry | reverse %}
     <strong >{{ moment(e['time']).fromNow() }} </strong>
    <p>
<strong >  {{ moment(e['time']).format('LLL') }} </strong></p>
     <p>{{ e['content'] }} </p>

{% endfor %}
 </div>

    <div class="jumbotron text-center" style ="background-image: linear-gradient(skyblue, white)">

 <div class = "container text-right">
    <strong>My Digital Diary</strong>

</div>
    </div>

{% endblock %}

</html>